@use '../util' as util;
@use 'color' as color;
@use 'top' as top;
@use 'middle' as middle;


.bottom {
  background-color: color.$Black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid crimson;

  @include util.breakpoint(medium){
    flex-direction: row;
    justify-content: space-between;
    padding: middle.$desktopMargin;
    

    @include util.breakpoint(large){
      padding: middle.$desktopMargin top.$largeDesktopMargin middle.$desktopMargin top.$largeDesktopMargin;
  // border: 2px solid crimson;

    }

    .bottom {
      &__logo {
        margin: 0 0 util.rem(16) 0;
        justify-content: flex-start;
        

        img {
          width: util.rem(140);
        }
      }


      &__nav {
        ul {
          flex-direction: row;
        }

        li {
          padding: 0 util.rem(16) 0 0;
        }

        a {
          font-size: util.rem(15);
        }
      }

      &__right {
        // border: 1px solid purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &__socials {
        // border: 1px solid purple;
        justify-content: flex-end;
        margin: 0 0 util.rem(18) 0;

    
        img {
          width: util.rem((22));
          cursor: pointer;
        }
      }
      
    }
  }

  &__logo {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    margin: util.rem(50) 0 util.rem(20) 0;
  }

  &__nav {
    ul {
      list-style: none;
      // border: 5px solid cyan;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    li {
      // border: 2px solid brown;
      padding: util.rem(16);
    }

    a {
      // border: 2px solid lime;
      position: relative;
      color: color.$White;
      text-decoration: none;
      font-size: util.rem(18);
      text-transform: uppercase;
      font-weight: 300;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 0;
      height: util.rem(2);
      bottom: 0;
      left: 50%;
      background-color: color.$White;
      color: color.$White;
      transition: width 0.3s ease, left 0.3s ease;
  }
  a:hover::before {
      width: 100%;
      left: 0;
  }
  }

  &__socials {
    // border: 1px solid purple;
    display: flex;
    justify-content: center;
    gap: util.rem(20);
    margin: util.rem(35) 0  util.rem(30) 0;

    img {
      width: util.rem((30));
      cursor: pointer;
    }
  }

  &__copyRight {
    color: color.$VeryDarkGray;
    margin-bottom: util.rem(50);
  }
}