@use '../util/' as util;
@use 'top' as top;
@use 'fonts' as font;
@use 'color' as color;

$desktopMargin: util.rem(45);
$largDesktopMargin: util.rem(80);

.middle {
  border: 2px solid purple;

  @include util.breakpoint(medium){
    .middle {
      &__img {
        // border: 2px solid lime;
        top: 0;
        left: 0;
        min-width: util.rem(450);
        margin: 0;
      }

      &__img img {
        width: 100%;
      }

      &__desktop-view {
        // border: 2px solid crimson;
        display: flex;
        justify-content: center;
        // align-items: center;
        padding: util.rem(80) top.$largeDesktopMargin util.rem(80) top.$largeDesktopMargin; 
        // height: 100%;


        @include util.breakpoint(medium){
          padding: util.rem(80) $desktopMargin util.rem(80) $desktopMargin; 
          overflow: hidden;
        }
      }

      &__description {
        // border: 1px solid cyan;
        position: relative;
        top: 180px;
        right: 200px;
        margin: 0;
        text-align: left;
        padding: util.rem(45);
        background-color: color.$White;
        min-width: 350px;
        // max-width: 350px;
        font-size: util.rem(14);
        // height: 100%;


        @include util.breakpoint(large){
          width: util.rem(450);
        }

        h1 {
          font-size: util.rem(25);
          margin: 0 0 util.rem(20) 0;

          @include util.breakpoint(large){
            font-size: clamp(util.rem(25), util.rem(20) + 2vw, util.rem(45));
          }
        }
      }

      &__container {
        // border: 1px solid cyan;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: util.rem(150) $desktopMargin 0 $desktopMargin;

        @include util.breakpoint(large){
          margin: $desktopMargin top.$largeDesktopMargin $desktopMargin top.$largeDesktopMargin;
        }

        h1 {
          // width: 350px;
          display: flex;
          justify-content: flex-start;
          margin: 0;

        }

        .middle__seeAll {
          margin: 0;
          margin-top: -45px;
          justify-content: flex-end;
          
        }
        button {
          font-size: util.rem(16);
          padding: util.rem(8) util.rem(45);
        }
      }

      

      &__categories {
        // border: 8px solid cyan;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        gap: 25px;
        width: 100%;
        margin: util.rem(50) 0 util.rem(150) 0;
        order: 4;
      }
    }
    .category__box {
      // border: 2px solid black;
      margin: 0;
    }
  }

  &__img {
    margin: util.rem(60) top.$pageMargin 0 top.$pageMargin;
    // height: 100%;
  }

  &__img img {
    width: 100%;
  }

  h1 {
    font-family: font.$font-Josefin;
    font-weight: 300;
    text-align: center;
    font-size: util.rem(34);
    margin: util.rem(24) top.$pageMargin;
    // border: 1px solid cyan;
  }

  &__description {
    // border: 1px solid cyan;
    color: color.$VeryDarkGray;
    margin: 0 util.rem(45) util.rem(80) util.rem(45);
    text-align: center;
    font-size: util.rem(16);
  }

  h1:nth-of-type(2) {
    font-size: util.rem(30);
  }

  &__container {
    // border: 4px solid crimson;
  }

  &__categories {
    // border: 2px solid green;
    margin: 0 top.$pageMargin top.$pageMargin top.$pageMargin;
    text-transform: uppercase;
  }

  &__seeAll {
    // border: 1px solid cyan;
    margin-bottom: util.rem(120);
    display: flex;
    justify-content: center;
  }

  button {
    font-size: util.rem(20);
    padding: util.rem(8) util.rem(55);
    background-color: color.$White;
    border: 2px solid color.$VeryDarkGray;
    text-transform: uppercase;
    transition: ease 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: color.$Black;
    border: none;
    color: color.$White;
  }
  
}

.category__box {
  // border: 4px solid purple;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden; 
  margin: 0 0 top.$pageMargin 0;


  img {
    width: 100%;
  }

  p {
    // border: 1px solid brown;
    position: absolute;
    bottom: 0;
    color: white;
    padding: util.rem(18) 0 util.rem(15) util.rem(14);
    line-height: util.rem(30);
    width: util.rem(160);
    font-family: font.$font-Josefin;
    font-size: util.rem(22);
    font-weight: 400;
    transition: color 0.3s ease; 
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(121, 119, 119, 0.5);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    z-index: 1; 
  }
}

.category__box:hover {

  &::before {
    transform: translateY(0);
  }

  p {
    color: black;
    z-index: 2; 
  }
}
