@use '../util/' as util;
@use 'color' as color;

$pageMargin: util.rem(25);

.top {
  border: 1px solid blue;
  background: url(/images/mobile/image-hero.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 util.rem(25);

  &__middle {
    border: 2px solid lime;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__sidebar {
    border: 2px solid lime;
    background-color: lightcoral;
    position: absolute;
    top: 0;
    width: 100%;
    left: -999px;
    right: 0;
    height: 100%;
    transition: ease 0.3s left;

    ul {
      list-style: none;
      border: 5px solid cyan;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    li {
      border: 2px solid brown;
      padding: util.rem(20);
    }

    a {
      color: color.$White;
      text-decoration: none;
      font-size: util.rem(25);
      text-transform: uppercase;
    }
  }
}

.open {
  left: 0;
}

.header {
  border: 2px solid orangered;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: util.rem(60) 0 0 0;

  &__logo img{
    border: 1px solid hotpink;
    width: util.rem(160);
  }

  &__hamburgerMenu img{
    width: util.rem(35);
    cursor: pointer;
  }
}

.titleBox {
  border: 2px solid color.$White;
  color: color.$White;
  padding: $pageMargin;
  margin: 0 $pageMargin;
  font-size: util.rem(35);
}

// h1 {
//   font-size: clamp(util.rem(16), util.rem(16) + 2vw, util.rem(30));
// }